/*-----bottom follder------*/

#groger {
    background: gray;
}

#sebastian {
    font-family: Abel;
    font-size: 400%;
}

#contact_link {
    text-decoration: none;
}

#index_links {
    text-decoration: none;
    color: white;
}

#products_link {
    text-decoration: none;
    color: white;
}
/*--x--bottom follder----x---*/

.ratata {
  color: red;
}
