{% extends "../base.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}


{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">{{ product.title }}</h1>
                <p><span class="lead">{{ product.author }}</span> (Author)</p>
                <p>{{ product.description|slice:":355" }}...</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Hardback</div>
                            <div class="col-6 text-end"><span class="h4 fw-bold"><small>MX</small> ${{ product.price }}</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <p>Sebastian</p>
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" id="add-button" value="{{product.id}}" class="btn btn-secondary btn-sm">Add to basket</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>helo</h1>
    </main>

    
<!-----------------------------------------------------------------------INFORMATION--------------------------------------------------------------------------->
<div class="container-sm">
    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Descripción</a>
        <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Comentarios</a>
        <a class="nav-link disabled" id="nav-disabled-tab" data-bs-toggle="tab" href="#nav-disabled" role="tab" aria-controls="nav-disabled" tabindex="-1" aria-disabled="true">Disabled</a>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <h1>{{ product.description_title }}</h1>

            <h3>{{ product.title1 }}</h3>
            <img style="width: 100%; height: 123px;" src="{{ product.img1.url }}" alt="">
            <p>{{ product.description1 }}</p>
        
            <h3>{{ product.title2 }}</h3>
            <img style="width: 100%; height: 123px;" src="{{ product.img2.url }}" alt="">
            <p>{{ product.description2 }}</p>
        
            <h3>{{ product.title3 }}</h3>
            <img style="width: 100%; height: 123px;" src="{{ product.img3.url }}" alt="">
            <p>{{ product.description3 }}</p>
        
            <h3>{{ product.title4 }}</h3>
            <img style="width: 100%; height: 123px;" src="{{ product.img4.url }}" alt="">
            <p>{{ product.description4 }}</p>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Sebastian is testing</div>
        
        <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium minima repellat incidunt facilis obcaecati blanditiis corrupti ad officia doloribus ullam sapiente ipsum, nemo a, excepturi voluptatem voluptatibus velit eum dignissimos ut, nam tempora? Reiciendis illo itaque veritatis eligendi fuga, mollitia ratione totam veniam esse in.</div>
    </div>
    </div>
<!---------------------------------------X------------------------------------ INFORMATION---------------------------------------X--------------------------------------->


<script>
    $(document).on('click', '#add-button', function (e) {       // function the someone clicked the button add-button
        e.preventDefault();
        $.ajax({                                                // ajax requets, send & return data to server
            type: 'POST',                                       // what type of request is it
            url: '{% url "basket:basket_add" %}',               // send data to basket:basket_add
            data: {                                             // dta that gets send
                productid: $('#add-button').val(),              // grab the value       
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",          // send csrf token
                action: 'post'
            },
            success: function (json) {                          // responce if success
                document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}               // responce if error
        });
    })
</script>

{% endblock %}