{% extends "../base.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}


{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">{{ product.title }}</h1>
                <p><span class="lead">{{ product.author }}</span> (Author)</p>
                <p>{{ product.description|slice:":355" }}...</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Hardback</div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">MX{{ product.price }}</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <label for="select">Qty</label>
                                <select id="select">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                </select>

                            </div>
                            <div class="col-6 text-end"><button type="button" class="btn btn-secondary btn-sm">Add to basket</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>helo</h1>
    </main>

    
<!-----------------------------------------------------------------------INFORMATION--------------------------------------------------------------------------->

<div class="container-fluid">		
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">
          
          <li class="descr active"><a href="#service-one" data-toggle="tab" style="color: black;">Description</a></li>
          <li class="produ"><a href="#service-two" data-toggle="tab" style="color: black;">Commentarios</a></li>
          
        </ul>
      <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in " id="service-one">
            <section class="product-info container-fluid">
                <h1>{{ product.description_title }}</h1>

                <h3>{{ product.title1 }}</h3>
                <img style="width: 50%; height: 20%;" src="{{ product.img1.url }}" alt="">
                <p>{{ product.description1 }}</p>
            
                <h3>{{ product.title2 }}</h3>
                <img style="width: 50%; height: 20%;" src="{{ product.img2.url }}" alt="">
                <p>{{ product.description2 }}</p>
            
                <h3>{{ product.title3 }}</h3>
                <img style="width: 50%; height: 20%;" src="{{ product.img3.url }}" alt="">
                <p>{{ product.description3 }}</p>
            
                <h3>{{ product.title4 }}</h3>
                <img style="width: 50%; height: 20%;" src="{{ product.img4.url }}" alt="">
                <p>{{ product.description4 }}</p>
            </section>
          </div>

        <div class="tab-pane fade" id="service-two">
          <section class="container-fluid">
            <h1>sebas</h1>
          </section>
      </div>
      <hr>
    </div>
  </div>
  
  
  <!---------------------------------------X------------------------------------ INFORMATION---------------------------------------X--------------------------------------->
  
</div>
{% endblock %}